.header-row > .logo {
    display: inline-block;
    margin-bottom: 40px;
    height: 50px;
}
.header-row > h1 {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #000;
    font-size: 48px;
    line-height: 48px;
}
.header-row > p {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    color: #bbb;
}
.header-row > .clock {
    display: inline-block;
    width: 100%;
    margin: 20px 0;
}
.header-row > .form {
    display: inline-block;
    width: 90%;
    margin: 0 5% 10px;
}
.header-row > .mouse {
    display: inline-block;
}