.clock {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 20px;
    /* padding: 20px 0; */
}
    .clock > .time {
        display: inline-block;
        width: 25%;
        float: left;
        color: #fff;
    }
        .clock > .time > .value {
            display: inline-block;
            width: 100%;
            font-size: 32px;
            line-height: 40px;
            font-weight: bold;
        }
        .clock > .time > .label {
            display: inline-block;
            width: 100%;
            font-size: 16px;
            line-height: 20px;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
        }
@media (max-width: 1000px) {
    .clock > .time {
        width: 50%;
    }
    .clock > .time-padding-bottom {
        margin-bottom: 20px;
    }
}




:root {
    --time: 39;
}

body {
    counter-reset: seconds calc(var(--time)+100);
}

#seconds {
    /* animation: clock-run 100s infinite; */
    /* content: counter(seconds); */
}

#seconds::before {
    /* animation: clock-run 1s infinite; */
    content: counter(seconds);

    /* localStorage. */
}

@keyframes clock-run {
    0% {
        counter-increment: seconds 1;
        /* --time: 50; */
        /* content: counter(seconds); */
    }
    100% {
        /* counter-reset: seconds #seconds:valu; */
        counter-reset: seconds calc(seconds+1);
    }
}