.progress-bar {
    display: inline-block;
    width: 100%;
    background-color: cadetblue;
    margin-bottom: 30px;
}

.progress-bar:last-of-type {
    margin-bottom: 0;
}

/*.class + .class + ... - pritaikymo sablonas, pritaikoma paskutiniam, tame paciame lygyje*/

    .progress-bar > .texts {
        display: inline-block;
        width: 100%;
        color: #777;
        font-size: 16px;
        line-height: 20px;
        text-transform: capitalize;
    }

        .progress-bar > .texts > .label {
            /* display: inline-block; */
            float: left;
        }

        .progress-bar > .texts > .value {
            /* display: inline-block; */
            float: right;
        }

    .progress-bar > .bar {
        display: inline-block;
        width: 100%;
        height: 4px;
        background-color: #EDEDED;
    }

        .progress-bar > .bar > .filler {
        /*.progress-bar .filler {*/
            display: inline-block;
            /* width: 90%; */
            height: 100%;

        }

            .progress-bar .filler-bar {
                display: inline-block;
                width: 100%;
                height: 100%;
                background-color: #03A9F5;

                animation: load-animation 2s ease 0 1 normal forwards;
                /* animation: name duration timing-function delay iteration-count direction fill-mode; */
                /* animation-play-state: paused; */
            }

@keyframes load-animation {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}